/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.local
/.profile
/.root_hist
/.tig_history
/.vscode
/.vscode-server
/.wget-hsts
/CheckTracksCA.C
/CheckTracksCA.c
/CheckTracksCA.root
/CheckTracksCAA.root
/CheckTracksCA_007.root
/DCAFit_C.d
/DCAFit_C.so
/DCAFit_C_ACLiC_dict_rdict.pcm
/DCAFit_Random_C.d
/DCAFit_Random_C.so
/DCAFit_Random_C_ACLiC_dict_rdict.pcm
/DCAFit_Signal.C
/DCAFit_Signal_C.d
/DCAFit_Signal_C.so
/DCAFit_Signal_C_ACLiC_dict_rdict.pcm
/DCA_Fitter.root
/DCA_Fitter_Random.root
/DCA_Fitter_Signal.root
/Filtering_c.d
/Fitter_C.d
/Fitter_C.so
/Fitter_C_ACLiC_dict_rdict.pcm
/InvariantMass.c
/alice
/core_dump_864596
/eff
/eff.png
/eff_C.d
/eff_C.so
/eff_C_ACLiC_dict_rdict.pcm
/efficiency.root
/efficiency_007_pion_central.root
/efficiency_007_sigma.root
/efficiency_007_sigma_central.root
/filtered_pion_007.root
/histogram.root
/pion_detect.root
/pion_detect_007.root
/sigma_anlz.root
/sigma_anlz_007.root